<div class="field">
  <label for="{{name}}" class="field__label" for="">{{label}}</label>
  <input oninput="{{action}}(this.name, this.value)" type="{{type}}" class="field__input" placeholder="{{placeholder}}" name="{{name}}">
</div>